body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body :not(nav, a) {
  margin-left: 20px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

a {
  text-decoration: none;
}

nav {
  background-color: #007bff;
  padding: 10px;
  padding-right: 25px;
  color: #fff;
  display: flex;
  justify-content: end;
}

nav a {
  color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

form {
  margin-top: 20px;
}

form label {
  display: block;
  margin-top: 10px;
}


form input[type="text"],
form input[type="number"],
form input[type="datetime-local"],
form select {
  width: 25%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
}

.new-ticket-button {
  margin-left: 20px;
  background-color: #f6d47e;
  padding: 10px 20px;
  border-radius: 10px;
  color: rgb(91, 91, 202);
  font-weight: bold;
}

.new-ticket-button:hover {
  background-color: #e0b94b;
}

.seat-box {
  display: flex;
  align-items: center;
}

.price-box {
  display: flex;
  align-items: center;
}

.ticket-box {
  display: flex;
  flex-direction: column;
}

#delete-form {
  display: inline-flex;
}

.delete-ticket-button {
  cursor: pointer;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  background-color: #dc3545;
}

nav > a:hover {
  color: #222;
}